body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.site-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-list, .cart {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product, .cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product img, .cart-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 既存のスタイルに追加 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    max-height: 20%; /* 追加: モーダルの最大高さを設定 */
    overflow-y: auto; /* 追加: 縦方向のスクロールを有効にする */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.review-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto; /* 追加: レビューコンテナ内のスクロールを有効にする */
}

.review-container ul {
    list-style-type: none;
    padding: 0;
}

.review-container li {
    background-color: #f8f8f8;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cart-total {
    text-align: center;
    margin-top: 20px;
}

.cart-items {
    display: flex;
}